<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="checkout-shipping-method-load">
    <table class="table-checkout-shipping-method">
        <thead>
        <tr class="row">
            <th class="col col-icon" translate="'Carrier icon'"></th>
            <th class="col col-method" translate="'Select Method'"></th>
            <th class="col col-price" translate="'Price'"></th>
            <th class="col col-method" translate="'Method Title'"></th>
            <th class="col col-carrier" translate="'Carrier Title'"></th>
        </tr>
        </thead>
        <tbody>
        <!-- ko foreach: { data: rates(), as: 'method'} -->
        <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
    <if args="isVisiblePaczkomat()">
        <div>
            <p>Wybrałeś paczkomat o numerze: <b data-bind="text: selectedPaczkomat()['name']"></b></p>
            <p>Paczkomat znajduje sie na: <b data-bind="text: selectedPaczkomat()['address']['line1'] + ', ' + selectedPaczkomat()['address']['line2']"></b></p>
        </div>
        <button click="changeSelectedPaczkomat">Zmien paczkomat</button>
    </if>
</div>
