<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <preference for="Magento\Framework\Logger\Handler\Debug" type="MylSoft\Baner\Model\Debug"/>-->
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">MylSoft\Baner\Model\Debug</item>
            </argument>
        </arguments>
    </type>
</config>
