<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mylsoft_baner_baner_listing_data_source" xsi:type="string">MylSoft\Baner\Model\ResourceModel\Baner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="MylSoft\Baner\Model\ResourceModel\Baner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mylsoft_baner_slider</argument>
            <argument name="eventPrefix" xsi:type="string">mylsoft_baner_slider_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">baner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">MylSoft\Baner\Model\ResourceModel\Baner</argument>
        </arguments>
    </type>
    <virtualType name="MylSoft\Baner\BanerImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">mylsoft/tmp/baner</argument>
            <argument name="basePath" xsi:type="string">mylsoft/baner</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MylSoft\Baner\Controller\Adminhtml\Baner\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MylSoft\Baner\BanerImageUpload</argument>
        </arguments>
    </type>
</config>
